.wrapper {
  display: inline-block;
  position: relative;
}

.icon {
  width: 42px;
  height: 42px;
}

.chain_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(2px, 2px);
  border: 2px solid #fff;
}
