.tabs {
  padding: 1rem 0;
  width: 100%;
}

.tab_buttons {
  margin-bottom: 1rem;
  text-align: center;
}

.tab_contents {
}

.tab_item {
  margin: 0 1rem;
}

.tab_item {
  margin: 0 1rem;
}

.inactive {
  opacity: 0.6;
}

.active {
  opacity: 1;
}
