.form {
  padding: 1rem;
  word-break: break-all;
  width: 100%;
}

.select_addr_btn {
  text-align: left;
}

.select_addr_btn_dest {
  font-size: 12px;
  opacity: 0.5;
}

.select_addr_btn_tag {
  font-size: 12px;
  opacity: 0.5;
}
