.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 2rem;
  width: 100%;
}

.ul {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.empty_hint {
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
